@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
@inherits AHComponentBase

@typeparam T

<div class="d-flex">
    <MudChipSet AllClosable OnClose="Closed">
        @foreach (var value in SelectedItems)
        {
            <MudChip Value="@value" Text="@DisplayValueFunc(value)"></MudChip>
        }
    </MudChipSet>

    <MudAutocomplete @ref="RefAutocomplete" T="T" Label="@Label" SearchFunc="@SearchFunc" ToStringFunc="@DisplayValueFunc"
                     CoerceText="CoerceText" CoerceValue="CoerceValue" AdornmentIcon="@Icons.Material.Outlined.Search"
                     Clearable MaxItems="MaxItems" For="For"
                     AdornmentColor="Color.Primary" ValueChanged="OnAutocompleteValueChanged">
    </MudAutocomplete>
</div>