@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
@using MudBlazor

<MudSelect Margin="Margin.Dense" Dense="true" T="string" Class="" Strict="true"
           Variant="Variant.Outlined">
    <MudSelectItem Value="@("Mario")" >
        <div class="d-flex gap-2 align-center">
            <MudIconButton Icon="@Icons.Material.Filled.Dns" Size="Size.Small"/>
            <MudText >Mario</MudText>
        </div>
    </MudSelectItem>
    <MudSelectItem Value="@("Mirko")">
        <div class="d-flex gap-2 align-center">
            <MudIconButton Icon="@Icons.Material.Filled.Domain" Size="Size.Small" />
            <MudText>Mirko</MudText>
        </div>
    </MudSelectItem>
    <MudSelectItem Value="@("Luca")" />
</MudSelect>