@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Web

<MudDialogProvider />
<MudSnackbarProvider />
<MudThemeProvider @bind-IsDarkMode="@ModnitorUIOptions.CurrentValue.Theme.DarkMode" Theme="@UIOptions.Theme.Current" />

<ErrorBoundary>
    <ChildContent>
        <MudLayout>
            <AuthorizeView>
                <NotAuthorized>
                    <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
                        <div class="d-flex flex-column mud-width-full">

                            <MudPaper Elevation="25" Class="pa-8" Width="100%">
                                <div class="d-flex gap-2">
                                    <MudIcon Icon="@AppOptions.Icon" Size="Size.Large" Style="width:100px; height:100px;" />
                                    <MudText Typo="Typo.h4" Class="align-self-center">@AppOptions.Name</MudText>
                                </div>
                                @Body
                            </MudPaper>
                            @*
                            <MudAlert Class="mt-8 mud-width-full" Style="max-width:500px;">
                            @L["authentication is required, click sign in."]
                            </MudAlert>
                            *@
                        </div>
                    </MudContainer>
                </NotAuthorized>
                <Authorized>
                    <MudAppBar Dense Elevation="0" Color="Color.Primary">
                        <MudTooltip Arrow Text="@L["Menu"]">
                            <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Edge="Edge.Start"
                                           OnClick="@(() => DrawerOpen =! DrawerOpen)" />
                        </MudTooltip>

                        <MudLink Href="/" Typo="Typo.h5" Class="ml-3 mud-inherit-text" Underline="Underline.None">@AppOptions.Name</MudLink>

                        <MudSpacer />
                        <AHUIAppBarItems />
                        <MudSpacer />

                        <MudTooltip Arrow Text="@L["Search (Cmd + K)"]">
                            <MudIconButton Color="Color.Inherit"
                                           Edge="Edge.Start"
                                           Icon="@Icons.Material.Outlined.Search"
                                           OnClick="OpenFinder" />
                        </MudTooltip>

                        <MudIconButton Icon="@Icons.Material.Filled.Help" Color="Color.Inherit" OnClick="ShowHelp" />

                        <AHAppMenu />
                        @*  <NotificationMenu Class="mx-3" />*@
                        <AHUserMenu Class="mx-1" />
                        </MudAppBar>

                        @*<MudDrawer @bind-Open="DrawerOpen" Variant="@DrawerVariant.Mini" OpenMiniOnHover ClipMode="DrawerClipMode.Always" MiniWidth="70px">*@
                        <MudDrawer @bind-Open="DrawerOpen" ClipMode="DrawerClipMode.Always">

                        <NavMenu />

                        <MudDivider Class="mt-auto"></MudDivider>

                        <MudNavMenu Class="d-flex justify-space-between pa-4">
                            <MudLink Href="@AppOptions.Url" Target="_blank"
                                     Style="font-size:0.625rem; line-height:1.125rem; color: var(--mud-palette-text-primary) !important">
                                <b>@AppOptions.Author</b>
                            </MudLink>

                            @if (ReleaseInfo == null)
                            {
                                <MudText Style="font-size:0.625rem; line-height:1.125rem;color: var(--mud-palette-text-primary) !important">
                                    @L["version"] @ApplicationHelper.ProductVersion
                                </MudText>
                            }
                            else
                            {
                                <MudLink Target="_blank" Href="@ReleaseInfo.Url"
                                     Style="font-size:0.625rem; line-height:1.125rem;color: var(--mud-palette-text-primary) !important">                                    
                                    <MudBadge Dot="true" Color="Color.Primary" >
                                        @L["new version"] @ReleaseInfo.Version
                                    </MudBadge>
                                </MudLink>
                            }
                        </MudNavMenu>
                    </MudDrawer>

                    <MudMainContent>
                        <MudContainer Style="max-width: 100%">
                            @Body

                            <MudScrollToTop Style="z-index:2000; right: 50%">
                                <MudFab StartIcon="@Icons.Material.Filled.KeyboardArrowUp" Color="Color.Primary" Size="Size.Small" />
                            </MudScrollToTop>
                        </MudContainer>
                    </MudMainContent>
                </Authorized>
            </AuthorizeView>
        </MudLayout>
    </ChildContent>
    <ErrorContent>
        <AHCustomError Exception="context" />
    </ErrorContent>
</ErrorBoundary>