@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
<MudTreeView Items="TreeData">
    <ItemTemplate>
        <MudTreeViewItem @bind-Expanded="@context.IsExpanded" Items="@context.Child">
            <Content>
                <MudTreeViewItemToggleButton @bind-Expanded="@context.IsExpanded" Visible="@context.HasChild" />
                <MudCheckBox T="bool?" Value="@context.IsChecked"
                             ValueChanged="@((e) => ValueChangedAsync(context))"
                             Color="@context.Color" Dense />

                <div class="d-flex gap-2">
                    @if (!string.IsNullOrWhiteSpace(context.Icon))
                    {
                        <MudIcon Icon="@context.Icon" Color="@context.Color" Size="Size.Medium" />
                    }
                    <MudText>@context.Description</MudText>
                </div>
            </Content>
        </MudTreeViewItem>
    </ItemTemplate>
</MudTreeView>
